<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assetPath/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assetPath/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/assetPath/css/bootstrap-reboot.min.css">
    <script rel="script" src="/assetPath/js/bootstrap.bundle.js"></script>
    <script rel="script" src="/assetPath/js/ws.js"></script>
    <title>Gin Hello</title>
</head>
<body>
    <!-- <h1>Hi Gin Tonic</h1> -->
    <h1>Hi {{.title}}</h1>
</body>
</html>